{% for advertisement in advertisements %}
    {% if advertisement.status != 'deleted' %}
        <div class="col-md-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ advertisement.title }}</h5>
                    <p class="card-text">Номер телефона: {{ advertisement.author.phone }}</p>
                    <p class="card-text">{{ advertisement.description }}</p>
                    <p class="card-text">{{ advertisement.price }}</p>
                    {% if user.is_authenticated and advertisement.author == user %}
                        <a href="{% url 'webapp:advertisement_delete' advertisement.pk %}">Удалить</a>
                    {% endif %}
                    {% if advertisement.photo %}
                        <img src="{{ advertisement.photo.url }}" class="card-img-top">
                    {% endif %}
                    <a href="{% url 'webapp:advertisement_detail' advertisement.pk %}"
                       class="btn btn-primary">Смотреть</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}