{% extends "base.html" %}
{% block link %}
    {% if request.user.is_authenticated and user_obj == request.user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:password_change' %}">Смена пароля</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}

    <div class="profile-posts mt-5">
        <div class="row">
            {% for advertisement in user_obj.advertisements.all %}
                <div class="col-md-4">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ advertisement.title }}</h5>
                            <p class="card-text">{{ user_obj.phone }}</p>
                            <p class="card-text">{{ advertisement.description }}</p>
                            <p class="card-text">{{ advertisement.price }}</p>
                            {% if advertisement.photo %}
                                <img src="{{ advertisement.photo.url }}" class="card-img-top">
                            {% endif %}
                            <a href="{% url 'webapp:advertisement_detail' advertisement.pk %}" class="btn btn-primary">Смотреть</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}